.product-item:hover {
  box-shadow: 0 0 30px #dddddd;
}

.product-item {
  transition: .5s;
}

.product-item:hover .product-img img {
  transform: scale(1.2);
}

.product-item .product-img img {
  transition: .5s;
}

.product-item:hover .product-action {
  background: rgba(255, 255, 255, 0.7);
}

.product-action {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
}

.product-item:hover .product-action a.btn:first-child {
  opacity: 1;
  margin-top: 0;
  transition: .3s 0s;
}

.product-item:hover .product-action a.btn:nth-child(2) {
  opacity: 1;
  margin-top: 0;
  transition: .3s .05s;
}

.product-item:hover .product-action a.btn:nth-child(3) {
  opacity: 1;
  margin-top: 0;
  transition: .3s .1s;
}

.product-item:hover .product-action a.btn:nth-child(4) {
  opacity: 1;
  margin-top: 0;
  transition: .3s .15s;
}

.product-item .product-action .btn:hover svg path {
  fill: #ffd333;
}

.product-action a.btn {
  position: relative;
  margin: 0 3px;
  margin-top: 100px;
  opacity: 0;
}

.btn-square, .btn-sm-square, .btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-square {
  width: 40px;
  height: 40px;
}

.btn-outline-dark {
  color: #3d464d;
  border-color: #3d464d;
}

.btn-outline-dark:focus, .btn-outline-dark.focus {
  box-shadow: 0 0 0 0.2rem rgb(61 70 77 / 50%);
}

.fs-16 {
  font-size: 1rem;
}

a:hover {
  --bs-link-hover-color: #e6b400;
  color: var(--bs-link-hover-color);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #3d464d;
}

.ms-2, .mx-2 {
  margin-left: 0.5rem !important;
}