.cat-item {
  background: #ffffff;
  transition: .5s;
}

.cat-item:hover {
  background: #ffd333;
}

.cat-item img {
  transition: .5s;
}

.cat-item:hover img {
  transform: scale(1.2) rotate(5deg);
}

.container-fluid .bg-secondary {
  background-color: #f5f5f5 !important;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 50%;
  left: 0;
  border-top: 1px dashed #bec5cb;
  z-index: -1;
}

h2, .h2 {
  color: #3d464d;
  font-weight: 700 !important;
}

.text-body {
  --bs-body-color-rgb: 108,117,125;
  color: rgba(var(--bs-body-color-rgb),var(--bs-text-opacity))!important;
}