.mb-30 {
  margin-bottom: 30px;
}

.product-offer {
  height: 300px;
  position: relative;
  overflow: hidden;
}

.product-offer .offer-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #3d464d80;
  z-index: 1;
}

.product-offer img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .5s;
}

.product-offer:hover img {
  transform: scale(1.2) rotate(5deg);
}

.row > * {
  position: relative;
}

.product-offer .btn-primary {
  --bs-btn-color: #3d464d;
  --bs-btn-bg: #ffd333;
  --bs-btn-border-color: #ffd333;
  color: var(--bs-btn-color);
  background-color: var(--bs-btn-bg);
  border-color: var(--bs-btn-border-color);
}

.product-offer .btn-primary:hover {
  --bs-btn-hover-bg: #ffcb0d;
  --bs-btn-hover-border-color: #ffc800;
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}

.ff-Roboto {
  font-family: "Roboto", sans-serif;
}