.text-secondary {
  --bs-secondary-rgb: 245, 245, 245;
}

.footer a {
  color: #FFD333;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  text-decoration: underline;
}

.footer svg path {
  stroke: white;
  stroke-width: 16px;
}

.ff-Roboto {
  font-family: "Roboto", sans-serif;
}

.ff-Roboto svg {
  font-family: initial;
}